In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("SG_usedcar.csv")
df.head(20)

,Brand,Type,Reg_date,Coe_left,Dep,Mileage,Road Tax,Dereg Value,COE,Engine Cap,Curb Weight,Manufactured,Transmission,OMV,ARF,Power,No. of Owners,Price,Unnamed: 18
0,BMW 5 Series 520i Highline,Luxury Sedan,28-May-13,1yr 11mths 21days COE left),15920,N.A,1210,38133,67304,1997,1610,2013,Auto,41566,45193,135,1,54000,NaN
1,Honda Vezel 1.5A X Honda Sensing,SUV,14-Oct-15,4yrs 4mths 7days COE left),10310,50000,682,31237,56001,1496,1190,2015,Auto,19775,9775,96,2,49800,NaN
2,MINI One 1.6A (New 10-yr COE),Hatchback,7-Oct-11,10yrs COE left),6280,110000,742,N.A,N.A,1598,1100,2011,Auto,18180,18180,72,3,62800,NaN
3,Hyundai Avante 1.6A (COE till 02/2029),Mid-Sized Sedan,12-Feb-09,7yrs 8mths 5days COE left),N.A,N.A,959,N.A,25727,1591,1264,2009,Auto,10763,10763,89,3,N.A,NaN
4,Suzuki Swift Sport 1.6M (COE till 12/2022),Hatchback,28-Dec-07,1yr 6mths 21days COE left),8210,203000,1030,6656,21349,1586,1060,2007,Manual,12154,13370,92,2,12800,NaN
5,Porsche 718 Cayman 2.0A PDK,Sports Car,19-Jul-17,6yrs 1mth 12days COE left),34200,21000,1200,106829,50110,1988,1365,2017,Auto,71979,101563,220,1,259988,NaN
6,Toyota Corolla Altis 1.6A Elegance,Mid-Sized Sedan,3-Jun-14,2yrs 11mths 27days COE left),N.A,N.A,742,N.A,60002,1598,1205,2014,Auto,18761,13761,90,1,N.A,NaN
7,Nissan Qashqai 1.2A DIG-T,SUV,22-Jan-16,4yrs 7mths 15days COE left),10390,N.A,508,30254,45002,1197,1285,2015,Auto,18454,13454,85,2,54850,NaN
8,Toyota Estima 2.4A Aeras G Moontoof (New 10-yr...,MPV,6-Oct-11,10yrs COE left),8380,100500,1638,N.A,N.A,2362,1770,2011,Auto,38940,38940,125,3,83888,NaN
9,BMW M Series M5 Sunroof (New 10-yr COE),Sports Car,30-May-12,10yrs COE left),N.A,N.A,4568,N.A,N.A,4395,1870,2012,Auto,105339,105339,412,2,N.A,NaN
10,BMW 8 Series 840i Gran Coupe M-Sport,Sports Car,6-Jul-20,9yrs 29days COE left),N.A,N.A,2384,N.A,32500,2998,1800,2020,Auto,94196,141553,250,1,N.A,NaN
11,Toyota Vios 1.5A E Sports (COE till 08/2025),Mid-Sized Sedan,7-Oct-10,4yrs 2mths 25days COE left),7740,N.A,752,13643,16095,1497,1095,2010,Auto,12306,12306,80,1,32800,NaN
12,Suzuki Every Turbo,Van,19-May-21,9yrs 11mths 12days COE left),5120,N.A,N.A,32205,32356,658,900,2021,Auto,N.A,16645,833,1,50999,NaN
13,Hyundai Elantra 1.6A Elite,Mid-Sized Sedan,14-Nov-14,3yrs 5mths 7days COE left),11010,35000,738,31339,64900,1591,1292,2014,Auto,13856,13856,97,1,44800,NaN
14,Toyota Vios 1.5A E (COE till 04/2025),Mid-Sized Sedan,28-Apr-10,3yrs 10mths 21days COE left),N.A,N.A,821,N.A,16438,1497,1095,2010,Auto,12331,12331,80,3,N.A,NaN
15,Kia Cerato 1.6A GT Line Sunroof,Mid-Sized Sedan,4-Jul-19,8yrs 27days COE left),9450,21200,738,38416,30009,1591,1287,2018,Auto,18894,18894,93,1,85800,NaN
16,BMW 3 Series 320i,Luxury Sedan,5-Dec-12,1yr 5mths 28days COE left),17610,170000,1210,33118,86889,1997,1420,2012,Auto,38514,38514,135,2,45600,NaN
17,Mercedes-Benz CLA-Class CLA180,Luxury Sedan,10-Jun-15,4yrs 3days COE left),N.A,N.A,740,N.A,67749,1595,1430,2015,Auto,26682,19355,90,1,N.A,NaN
18,BMW 2 Series 218i Gran Coupe Luxury,Luxury Sedan,26-Nov-20,9yrs 5mths 19days COE left),N.A,N.A,684,N.A,41101,1499,1375,2020,Auto,35462,41647,103,1,N.A,NaN
19,Renault Kangoo 1.5M (COE till 04/2022),Van,10-Apr-07,10mths 3days COE left),N.A,N.A,N.A,N.A,24005,1461,1160,2007,Auto,N.A,19800,3,N.A,N.A,NaN

In [4]:
df = pd.read_csv("autoscout24-germany-dataset.csv")
df.head(200)

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...
195,15,Fiat,Panda,Electric/Gasoline,Manual,Pre-registered,10680,69.0,2021
196,20,Toyota,Aygo,Gasoline,Manual,Pre-registered,10823,72.0,2021
197,15,Fiat,Panda,Electric/Gasoline,Manual,Pre-registered,10980,69.0,2021
198,15,Fiat,Panda,Electric/Gasoline,Manual,Pre-registered,10980,69.0,2021
199,10,Toyota,Aygo,Gasoline,Manual,Pre-registered,10997,72.0,2021